{{ define "main" }}
	<div class="container">
	<div class="row">
		<section class="page-section portfolio {{ if .Page.Params.sidebar }} col-12 col-lg-10 {{ end }} " >
			
				<!-- Portfolio Section Heading-->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">{{ .Title  }}</h2>
				 <!-- Icon Divider-->
			<div class="divider-custom">
				<div class="divider-custom-line"></div>
				<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
				<div class="divider-custom-line"></div>
			</div>
				<div class="row justify-content-left">
					{{ .Content }}
				</div>
						</section>
		<section class="page-section portfolio col-12 col-lg-2 mt-5 ">
		
			{{ if .Page.Params.sidebar }}
				{{ partial "sidebar.html" . }}
			{{ end }}
	</section>
	</div>
</div>


{{ end }}
