<div id="sidebar" class="nav-collapse">
	<div class="widget mb-5">
		<h4 class="mb-4 widget-title">Latest Posts</h4>
		<ul class="list-unstyled">
			{{  range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "posts") }}
		  <li class="d-flex mb-4">
			<a href="{{ .Permalink }}" class="mr-3">
			  {{ with .Params.image }}<img src=""....>{{ end }}
			</a>
			<div class="post-body">
			  <span class="text-capitalize">- {{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
			  <a href="{{ .Permalink }}">
				<h5>{{ .Title }}</h5>
			  </a>
			</div>
		  </li>{{ end }}
		</ul>
	  </div>

	<hr/>

	<div class="widget mb-5">
		<h4 class="mb-4 widget-title">Related Posts</h4>
		<ul class="list-unstyled">
		  {{ $related :=  .Site.RegularPages.Related . }}
		  {{ range first 3  $related }}
		  <li class="d-flex mb-4">
			<div class="post-body">
			  <span class="text-capitalize">- {{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
			  <a href="{{ .Permalink }}">
				<h5>{{ .Title }}</h5>
			  </a>
			</div>
		  </li>{{ end }}
		</ul>
	  </div>
</div>