{{ define "main" }}
	<!-- <main>
		<article>
			<h1>{{ .Title }}</h1>
			<time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
			<div>
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main> -->
	<div class="container">
	<div class="row">
		<section class="page-section portfolio col-12 " >
			
				<!-- Portfolio Section Heading-->
				<h2 class="page-section-heading text-center text-uppercase text-secondary mt-5">{{ .Title  }}</h2>
				<!-- Icon Divider-->
				<div class="divider-custom">
					<div class="divider-custom-line"></div>
					<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
					<div class="divider-custom-line"></div>
				</div>
				<div class="row justify-content-left">
					{{ .Content }}
				</div>
						</section>
		<section class="page-section portfolio col-2  mt-5 ">
			
	</section>
	</div>
</div>


{{ end }}
